У цьому домашньому завданні ми будемо працювати з набором даних Tips. Нижче інформація про нього.

**Про датасет:**

Tips - це датасет, який містить інформацію про рахунки та чайові в ресторані.

**Колонки датасету:**
- `total_bill` - загальна сума рахунку (долари)
- `tip` - розмір чайових (долари)
- `sex` - стать відвідувача (Male/Female)
- `smoker` - чи курить (Yes/No)
- `day` - день тижня (Thur/Fri/Sat/Sun)
- `time` - час відвідування (Lunch/Dinner)
- `size` - розмір групи (кількість людей)

**Джерело:** Оригінальні дані зібрані в одному з американських ресторанів у 1990-х роках. Скачати і переглянути набір даних можна тут: https://www.kaggle.com/datasets/sakshisatre/tips-dataset

А також ми вже вивантажили файл з даними і завантажили вам у Матеріали до цього модуля.




**1. Завантаження та огляд**

Завантажте датасет Tips (Чайові) з файла у матеріалах `tips.csv`.

Виведіть (кожен пункт оцінюється в 0.5 бала):
- Перші 5 рядків
- Розмір датасету (shape)
- Назви всіх колонок
- Інформацію про типи даних (info)

In [6]:
import pandas as pd

# Завантаження датасету Tips
df = pd.read_csv('tips.csv')

print("Перші 5 рядків датасету:")
display(df.head(5))

print("\nРозмір датасету (rows, columns):")
print(df.shape)

print("\nНазви колонок:")
display(df.columns)

print("\nІнформація про типи даних:")
df.info()

Перші 5 рядків датасету:

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

Розмір датасету (rows, columns):
(244, 7)

Назви колонок:

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

Інформація про типи даних:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

**2. Базова вибірка даних**

Виберіть та виведіть (кожен пункт оцінюється в 0.5 бала):
- Колонку `total_bill` (загальний рахунок)
- Колонки `total_bill` та `tip` (чайові) разом
- Перші 10 рядків
- Рядок з індексом 5

In [20]:
print("Колонка total_bill:")
display(df['total_bill'])

print("\nКолонки total_bill та tip:")
display(df[['total_bill', 'tip']])

print("\nПерші 10 рядків датасету:")
display(df.iloc[:10])

print("\nРядок з індексом 5:")
display(df.iloc[5])

Колонка total_bill:

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

Колонки total_bill та tip:

     total_bill   tip
0         16.99  1.01
1         10.34  1.66
2         21.01  3.50
3         23.68  3.31
4         24.59  3.61
..          ...   ...
239       29.03  5.92
240       27.18  2.00
241       22.67  2.00
242       17.82  1.75
243       18.78  3.00

[244 rows x 2 columns]

Перші 10 рядків датасету:

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

Рядок з індексом 5:

total_bill     25.29
tip             4.71
sex             Male
smoker            No
day              Sun
time          Dinner
size               4
Name: 5, dtype: object

**3. Фільтрація даних**

Відфільтруйте повний набір даних та виведіть (кожен пункт оцінюється в 0.5 бала):
- Всі рахунки більше 20 доларів (`total_bill > 20`)
- Всі відвідувачі-жінки (`sex == 'Female'`)
- Рахунки на вечерю (`time == 'Dinner'`)
- Рахунки на вечерю з сумою чеку більше 30 доларів

Для виведення результатів фільтрації:
- зберегти результат у окрему змінну
- показати кількість записів у відфільтрованому наборі
- вивести перші 5 записів відфільтрованого набору.

In [30]:
# 1. Рахунки більше 20 доларів
print("Рахунки більше 20 доларів:")
bills_more_20 = df[df['total_bill'] > 20]
print("Кількість записів:", bills_more_20.shape[0])
display(bills_more_20.head(5))


# 2. Всі відвідувачі-жінки
print("\nВсі відвідувачі-жінки:")
female_guests = df[df['sex'] == 'Female']
print("Кількість записів:", female_guests.shape[0])
display(female_guests.head(5))


# 3. Рахунки на вечерю
print("\nРахунки на вечерю:")
dinner_bills = df[df['time'] == 'Dinner']
print("Кількість записів:", dinner_bills.shape[0])
display(dinner_bills.head(5))


# 4. Рахунки на вечерю з сумою більше 30 доларів
print("\nРахунки на вечерю з сумою більше 30 доларів:")
dinner_bills_more_30 = df[
    (df['time'] == 'Dinner') & (df['total_bill'] > 30)
]
print("Кількість записів:", dinner_bills_more_30.shape[0])
display(dinner_bills_more_30.head(5))

Рахунки більше 20 доларів:
Кількість записів: 97

   total_bill   tip     sex smoker  day    time  size
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
7       26.88  3.12    Male     No  Sun  Dinner     4

Всі відвідувачі-жінки:
Кількість записів: 87

    total_bill   tip     sex smoker  day    time  size
0        16.99  1.01  Female     No  Sun  Dinner     2
4        24.59  3.61  Female     No  Sun  Dinner     4
11       35.26  5.00  Female     No  Sun  Dinner     4
14       14.83  3.02  Female     No  Sun  Dinner     2
16       10.33  1.67  Female     No  Sun  Dinner     3

Рахунки на вечерю:
Кількість записів: 176

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

Рахунки на вечерю з сумою більше 30 доларів:
Кількість записів: 27

    total_bill   tip     sex smoker  day    time  size
11       35.26  5.00  Female     No  Sun  Dinner     4
23       39.42  7.58    Male     No  Sat  Dinner     4
39       31.27  5.00    Male     No  Sat  Dinner     3
44       30.40  5.60    Male     No  Sun  Dinner     4
47       32.40  6.00    Male     No  Sun  Dinner     4

---

**4. Описова статистика**

Обчисліть (кожен пункт оцінюється в 0.5 бала):
- Середній розмір рахунку на всьому наборі даних
- Максимальні чайові
- Кількість пропущених значень у всіх колонках
- Скільки в наборі даних рахунків за обіди і за вечері

In [56]:
# 1. Середній розмір рахунку
print("Середній розмір рахунку:")
average_bill = df['total_bill'].mean()
print(average_bill)


# 2. Максимальні чайові
print("\nМаксимальні чайові:")
max_tip = df['tip'].max()
print(max_tip)


# 3. Кількість пропущених значень у всіх колонках
print("\nКількість пропущених значень у кожній колонці:")
missing_values = df.isnull().sum()
display(missing_values)


# 4. Кількість рахунків за обіди та вечері
print("\nКількість рахунків за обіди та вечері:")
lunch_dinner_counts = df['time'].value_counts()
display(lunch_dinner_counts)

Середній розмір рахунку:
19.78594262295082

Максимальні чайові:
10.0

Кількість пропущених значень у кожній колонці:

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

Кількість рахунків за обіди та вечері:

time
Dinner    176
Lunch      68
Name: count, dtype: int64

---

**5. Статистика із групуванням**

Обчисліть (кожен пункт оцінюється в 0.5 бала):
- Середній рахунок за статтю (groupby `sex`)
- Середні чайові за днем тижня (groupby `day`)
- Скільки відвідувачів у кожен день

In [64]:
# 1. Середній рахунок за статтю
average_bill_by_sex = df.groupby('sex')['total_bill'].mean()
print("Середній рахунок за статтю:")
display(average_bill_by_sex)


# 2. Середні чайові за днем тижня
average_tip_by_day = df.groupby('day')['tip'].mean()
print("\nСередні чайові за днем тижня:")
display(average_tip_by_day)


# 3. Кількість відвідувачів у кожен день
guests_by_day = df.groupby('day')['sex'].count()
print("\nКількість відвідувачів у кожен день:")
display(guests_by_day)

Середній рахунок за статтю:

sex
Female    18.056897
Male      20.744076
Name: total_bill, dtype: float64

Середні чайові за днем тижня:

day
Fri     2.734737
Sat     2.993103
Sun     3.255132
Thur    2.771452
Name: tip, dtype: float64

Кількість відвідувачів у кожен день:

day
Fri     19
Sat     87
Sun     76
Thur    62
Name: sex, dtype: int64

---

**6. Створення нової колонки**

Створіть нову колонку `tip_percentage` - відсоток чайових від загальної суми рахунку.
Виведіть перші 10 рядків з новою колонкою.

In [74]:
# Створення нової колонки tip_percentage
df['tip_percentage'] = (df['tip'] / df['total_bill'] * 100).round(1)

print("Перші 10 рядків з новою колонкою tip_percentage:")
display(df.head(10))

Перші 10 рядків з новою колонкою tip_percentage:

   total_bill   tip     sex smoker  day    time  size  tip_percentage
0       16.99  1.01  Female     No  Sun  Dinner     2             5.9
1       10.34  1.66    Male     No  Sun  Dinner     3            16.1
2       21.01  3.50    Male     No  Sun  Dinner     3            16.7
3       23.68  3.31    Male     No  Sun  Dinner     2            14.0
4       24.59  3.61  Female     No  Sun  Dinner     4            14.7
5       25.29  4.71    Male     No  Sun  Dinner     4            18.6
6        8.77  2.00    Male     No  Sun  Dinner     2            22.8
7       26.88  3.12    Male     No  Sun  Dinner     4            11.6
8       15.04  1.96    Male     No  Sun  Dinner     2            13.0
9       14.78  3.23    Male     No  Sun  Dinner     2            21.9

---

**7. Сортування**

Відсортуйте датасет і виведіть результат сортування в кожному випадку окремо (кожен пункт оцінюється в 0.5 бала):
- За розміром рахунку (зростання)
- За чайовими (спадання)

Додатково виведіть топ-5 найбільших чайових використовуючи метод `nlargest`.

In [78]:
df_sorted_bills = df.sort_values('total_bill')
df_sorted_tip_desc = df.sort_values('tip', ascending=False)
top_5_tips = df.nlargest(5, 'tip')[['day', 'sex', 'time']]